__pycache__/Ui_filterwidget.cpython-38.pyc
__pycache__/Ui_importconfig.cpython-38.pyc
__pycache__/Ui_mainwidget.cpython-38.pyc
test_date.py
test_csv.csv
test_xls.xls
test.py
test2_filter.py
百年销售明细.xlsx
